{{#if_value_equals _pluginName 'text'}}
	<a class="{{_classes}} nav-layout-{{_layout}}" data-event="{{_dataEvent}}" role="region" aria-label="{{ariaLabel}}" tabindex="0">
		{{text}}
	</a>
{{/if_value_equals}}
{{#if_value_equals _pluginName 'graphic'}}
	<a class="{{_classes}} nav-layout-{{_layout}}" data-event="{{_dataEvent}}" role="region" aria-label="{{_graphic.alt}}" tabindex="0">
		<img src="{{_graphic._src}}">
	</a>
{{else}}
	<button class="{{_classes}} {{_iconClasses}} nav-layout-{{_layout}}" data-event="{{_dataEvent}}" role="button" aria-label="{{ariaLabel}}">
		{{#if _showTooltip}}
			<div class="tooltip">{{tooltip}}</div>
		{{/if}}
	</button>
{{/if_value_equals}}

