<button class="{{_classes}} {{_iconClasses}} nav-layout-{{_layout}}" data-event="{{_dataEvent}}" role="button" aria-label="{{ariaLabel}}">
	{{#if _showTooltip}}
		<div class="tooltip">{{tooltip}}</div>
	{{/if}}
</button>